.row
	.col-lg-12
		form.modalForm
			div.form-group.row
				label(for="category_name", class="col-sm-3 col-form-label v-label") Category <em class="v-red-color-text">*</em>
				div.col-sm-9
					input(
						type="text",
						class="form-control v-input",
						id="category_name",
						name="category_name",
						required="required",
						autocomplete="off"
					)